---
import { Image } from 'astro:assets';
import logo from '../assets/logo_dark.svg';
import logoName from '../assets/logoName_dark.svg';
import logo1 from '../assets/logoDescrip_dark.svg';
import logo2 from '../assets/origen_logoDescrip_dark.svg';
import logo3 from '../assets/logoDescrip_light.svg';
import logo4 from '../assets/origen_logoDescrip_light.svg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Malpais DEV</title>
    <style>
      body {
        background: #000;
      }
      #title-main {
        color: #8f8f8f;
        z-index: 10;
        padding: 0px 10px;
        position: sticky;
        top: 0;
        width: 100%;   
        background-color: #3d3d3d;     
      } 
      #logo-div{
        display: flex;
        justify-content: start;
        align-items: center;
      }  
      .img-light{
        background-color: #dfdfdf;
        padding: 4px;
      }   
    </style>
	</head>
	<body>
    <div id="title-main" class="flex items-center justify-start">
      <div>
        <img src={logo.src} style="height: 70px;" alt="logo" />
      </div>
      <div>
        <img src={logoName.src} style="height: 60px;" alt="logo-title" />
      </div>
</div>

    <div class="mt-10" style="columns: 2; column-gap: 0.5em;">
      <div class="p-2">
        <div class=""><Image src={logo1} alt="logo-1" /></div>
      </div>
      <div class="p-2">
        <div class=""><Image src={logo2} alt="logo-2" /></div>
      </div>

      <div class="p-2">
        <div class="bg-gray-200 rounded-xl"><Image src={logo3} alt="logo-3" /></div>
      </div>
      <div class="p-2 rounded-md">
        <div class="bg-gray-200 rounded-xl"><Image src={logo4} alt="logo-4" /></div>
      </div>
      </div>
	</body>
</html>
