---
import { Image } from 'astro:assets';
import logo from '../assets/logo_dark.svg';
import logoName from '../assets/logoName_dark.svg';
import logo1 from '../assets/malpais_dark_megrim.svg';
import logo2 from '../assets/malpais_dark_origen.svg';
import logo3 from '../assets/malpais_light_melgrim.svg';
import logo4 from '../assets/malpais_light_origen.svg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Malpais DEV</title>
    <style>
      body {
        background: #000;
      }
      #title-main {
        color: #8f8f8f;
        z-index: 10;
        padding: 0px 10px;
        position: sticky;
        top: 0;
        width: 100%;   
        background-color: #3d3d3d;     
      } 
      #logo-div{
        display: flex;
        justify-content: start;
        align-items: center;
      }  
      .img-light{
        background-color: #dfdfdf;
        padding: 4px;
      }   
    </style>
	</head>
	<body>
    <div id="title-main" class="flex items-center justify-between"> <!-- Cambiado a justify-between -->
      <div class="w-[10ch]">
        <Image src={logo} style="height: 100px;" alt="logo" />
      </div>
      <div class="w-[23ch]"> <!-- Añadido margin-left: auto -->
        <Image src={logoName} style="height: 60px;" alt="logo-title" />
      </div>
      <div class="flex-grow"></div>
</div>

    <div style="columns: 2; column-gap: 1em;">
      <Image src={logo1} alt="logo-1" />
      <Image src={logo2} alt="logo-2" />
      <div class="bg-gray-400 p-4 img-light"><Image src={logo3} alt="logo-3" /></div>
      <div class="bg-gray-400 p-4 img-light"><Image src={logo4} alt="logo-4" /></div>
      </div>
	</body>
</html>
