---
import logo from '../assets/logo_dark.svg';
import logoName from '../assets/logoName_dark.svg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
    <style>
      body{
        background: linear-gradient(to bottom, black, #3d3d3d);
        background-attachment: fixed;
        background-color: #3d3d3d;
        color: #CECECE;
      }
      #title-main {
        backdrop-filter: blur(10px);
        animation: title-animation auto both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
      }
      @keyframes title-animation {
        0% {
          opacity: 1;
          z-index: 10;
        }
        to {          
          opacity: 0;
          z-index: -100;
        }
      }
      #logo-title{
        animation: logo-title-animation auto both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
      }
      @keyframes logo-title-animation {
        from {
          translate: 0 0;
        }
        to {
          translate: 0px -150px;          
        }
      }
      #name-title{
        animation: name-title-animation auto both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
      }
      @keyframes name-title-animation {
        from {
          translate: 0 -80px;
        }
        to {
          translate: 0px -230px;          
        }
      }
      #title-main-2{     
        z-index: 10;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        animation: title-animation-2 auto both;
        animation-timeline: scroll(root block);
        animation-range: 190px 250px;        
      }
      @keyframes title-animation-2 {
        from {
          opacity: 0;
          height: 0;
        }
        to {
          opacity: 1;          
          height: 80px;
        }
      }       
      #progress {
        height: 0.3em;
        width: 0%;
        animation: progress-grow auto linear;
        animation-timeline: scroll(root block);
      }
      @keyframes progress-grow {
        from { width: 0;}
        to { width: 100%;}
      }
      .pulsers {
        display: flex;        
        gap: 20px;
        justify-content: center;
      }
      .pulser {
        width: 30px;
        height: 30px;
        background: #FF6F00;
        border-radius: 50%;
        position: relative;
      }
      .pulser::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        background: rgba(255, 111, 0, 0.6);
        z-index: -1;
        animation: pulse 1s ease-in-out infinite 1s alternate;
      }                 
      @keyframes pulse {
        0% {
          opacity: 0;
        }
        100% {
          transform: scale(1.4);
          border: 1px solid #FF6F00; 
          opacity: 0.3        
        }
      }
      .lorem-text{
        padding: 20px;
        background-color: rgba(0, 0, 0, .2);
        border-radius: 5px;
        border: 1px solid rgb(169, 169, 169);
        animation: reveal-lorem auto both;
        animation-timeline: view();
        animation-range: entry 20% cover 40%;
      } 
      @keyframes reveal-lorem {
        from {
          opacity: 0;
          translate: 0 100px;
          scale: 0.5;
        }
        to {
          opacity: 1;
          translate: 0 0;
          scale: 1;
        }        
      }      
    </style>
	</head>
	<body>

      <h1 id="title-main-2" class="flex items-center justify-center sticky top-0 w-full text-white">
        <div class="flex items-center justify-center -ml-2">
          <img src={logo.src} class="p-0" style="height: 80px;" alt="logo" />
          <img src={logoName.src} style="height: 60px;" alt="logo" />
        </div>
      </h1>
      
      <h1 id="title-main" class="px-10 flex flex-col items-center justify-center sticky top-0 w-full text-white">
        <img id="logo-title" src={logo.src} style="height: 350px;" alt="logo" />
        <img id="name-title" src={logoName.src} style="height: 80px;" alt="logo" />
      </h1>

    <div id="progress" class="bg-malpais fixed top-0 z-[11]"></div>

    <!-- <section id="servicios">
      <span style='--content: "Desarrollo."; --start-color: #007CF0; --endcolor: #00DFD8; --delay: 0s'>Desarrollo.</span>
      <span style='--content: "Asesoramiento."; --start-color: #7928CA; --endcolor: #FF0080; --delay: 3s'>Asesoramiento.</span>
      <span style='--content: "Servicios."; --start-color: #FF4D4D; --endcolor: #F9CB28; --delay: 6s'>Servicios.</span>
    </section> -->

    <section class="pulsers p-10">
      <div class="pulser"></div>
      <div class="pulser"></div>
      <div class="pulser"></div>
      <div class="pulser"></div>
    </section>

    <section class="p-8 text-lg flex flex-col gap-10 z-0">
      <div class="lorem-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione nihil exercitationem quod nesciunt? Corrupti doloremque autem accusamus eaque voluptatum vel, minima repellat sapiente enim quam, perspiciatis laborum. Porro, eius?
      </div>
      <div class="lorem-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione nihil exercitationem quod nesciunt? Corrupti doloremque autem accusamus eaque voluptatum vel, minima repellat sapiente enim quam, perspiciatis laborum. Porro, eius?
      </div>
      <div class="lorem-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione nihil exercitationem quod nesciunt? Corrupti doloremque autem accusamus eaque voluptatum vel, minima repellat sapiente enim quam, perspiciatis laborum. Porro, eius?
      </div>
      <div class="lorem-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione nihil exercitationem quod nesciunt? Corrupti doloremque autem accusamus eaque voluptatum vel, minima repellat sapiente enim quam, perspiciatis laborum. Porro, eius?
      </div>
      <div class="lorem-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione nihil exercitationem quod nesciunt? Corrupti doloremque autem accusamus eaque voluptatum vel, minima repellat sapiente enim quam, perspiciatis laborum. Porro, eius?
      </div>
      <div class="lorem-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione nihil exercitationem quod nesciunt? Corrupti doloremque autem accusamus eaque voluptatum vel, minima repellat sapiente enim quam, perspiciatis laborum. Porro, eius?
      </div>
      <div class="lorem-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione nihil exercitationem quod nesciunt? Corrupti doloremque autem accusamus eaque voluptatum vel, minima repellat sapiente enim quam, perspiciatis laborum. Porro, eius?
      </div>
      <div class="lorem-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione nihil exercitationem quod nesciunt? Corrupti doloremque autem accusamus eaque voluptatum vel, minima repellat sapiente enim quam, perspiciatis laborum. Porro, eius?
      </div>
    </section>
	</body>
</html>
